.container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;


    div {
        width: 50%;
            h1 {
                font-size: 6em;
            }
            p {
                font-size: 1.3em;
                font-weight: 200;
            }
    }
    
}