.container {

width: 100%;
transition: all .2 ease-out;

    .card {
        img {
            width: 100%;
            height: 35em;
            border-radius: 8px;
            object-fit: cover;
            transition: all .2 ease-out;
 
        }


    }

    .description {
        margin-top: 1em;
        p {
            margin-top: 7px;
            font-weight: 200;
            color: rgb(212, 212, 212);
        }
    }
    

}


